
@font-face {
	font-family:'Decovar';
	src:url('../../shared/fonts/Decovar-VF.ttf'); /* in google drive @ https://drive.google.com/open?id=1P2mO9c5yEsXxDbxPJb8Fflqc8VAO5g_B*/
}

body {
  padding: 10px;
}
.jumbotron {
  background-color: transparent !important;
}
.container {
  background-color: #f13c20;
  font-family: Alegreya, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0 0 0 1px #f13c20, 1px 1px 6px 4px #727272;
  border-radius: 50px 0 50px 0;
	text-align: center;
}
#title {
  color: #efe2ba;
  font-family: "Alegreya";
}
.caption {
  margin: 0;
	font-size: 9vw;
	font-family: "Decovar";
  font-weight: bolder;
	color: white; 
	
	font-variation-settings: 'SSTR' 0;
	animation: loadin 3s 1 linear;
  
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	transform: translateZ(0);
	backface-visibility: hidden;
}
#hostName {
  color: #efe2ba;
  font-family: "Alegreya";
}
p,
span,
#inviteNote,
#inviteNote * {
  color: #efe2ba;
  font-family: "Vollkorn", "Serif";
}
.spacer {
  padding: 25px 0;
}
@keyframes loadin {
	from {
		font-variation-settings: 'SSTR' 1000;
	}
	to {
		font-variation-settings: 'SSTR' 0;
	}
}