<div class="previewer">
  <app-preview></app-preview>
</div>
<!-- <div class="row">
  <div class="col">
    <h4>Choose a Template to preview:</h4>
    <button *ngFor="let template of templates" class="btn btn-sm btn-info" (click)="selectedTemplate = template" [class.active]="template.name===selectedTemplate?.name">{{template.name}}</button>
  </div>
</div>
<div class="row">
  <div id="preview" class="col">
    <h4>Preview:
      <span class="small">{{selectedTemplate?.name}}</span>
    </h4>
    <iframe #ifr *ngIf="selectedTemplate" id="ifr" [src]="getMasterIndex(selectedTemplate) | safy" frameborder="0"></iframe>
  </div>
</div> -->